:root{
    --colorOne:#D5ECF4;
    --colorTwo:#E5EFD9;
    --colorThree:#fcf9c0;
    --colorFour:#ebebeb;
    --colorFive:#f4c5c3;
    --colorSeven:#fcf9c0;
}

body{
    font-family: system-ui;
}

ul{
    list-style: none;
}

ul, li{
    margin:0;
    padding:0;
}

.threeGrid{
    display:grid;
    grid-template-columns: repeat(3, 1fr);
}

.header{
    margin-top:50px;
    margin-bottom:100px;
}

.header h1{
    margin-top:0;
    font-size: 60px;
}

.header .header__column{
    display: flex;
    justify-content: space-around;
}

.header__nav span{
    margin-bottom: 10px;
    text-transform: uppercase;
    text-decoration: underline;
    display: block;
    color:rgba(0,0,0,0.4);
}

.header__nav li {
    margin-bottom: 10px;
}

.header__nav li:last-child {
    margin-bottom: 0;
}

.grid {
    grid-auto-rows: 30vh;
    grid-gap: 20px;
}

.grid .grid__item{
    background-size: cover;
    background-position: center center;
}

.grid .grid__item:first-child {
    grid-row: span 2;
    background-color: var(--colorOne);
}

.grid .grid__item:nth-child(2){
    grid-area: span 2 / span 2;
    background-image: url(http://magazine.hankyung.com/magazinedata/images/photo/201802/b08292acb5a579b31e9697cdf1246c1d.jpg);
}

.grid .grid__item:nth-child(3){
    background-color: var(--colorTwo);
}

.grid .grid__item:nth-child(4){
    grid-row: span 2;
    background-image: url(http://magazine.hankyung.com/magazinedata/images/photo/201802/b08292acb5a579b31e9697cdf1246c1d.jpg);
}

.grid .grid__item:nth-child(5){
    background-color: var(--colorThree);
}

.grid .grid__item:nth-child(6){
    background-color: var(--colorFour);
}

.grid .grid__item:nth-child(7){
    background-color: var(--colorFour);
}

.grid .grid__item:nth-child(8){
    grid-area: span 2 / span 2;
    background-color: var(--colorFive);
}

.grid .grid__item:nth-child(9){
    grid-row: span 2;
    background-image: url(http://magazine.hankyung.com/magazinedata/images/photo/201802/b08292acb5a579b31e9697cdf1246c1d.jpg);
}

.grid .grid__item:nth-child(10){
    grid-area: span 2 / span 2;
    background-image: url(http://magazine.hankyung.com/magazinedata/images/photo/201802/b08292acb5a579b31e9697cdf1246c1d.jpg);
}

.grid .grid__item:nth-child(11){
    background-image: url(http://magazine.hankyung.com/magazinedata/images/photo/201802/b08292acb5a579b31e9697cdf1246c1d.jpg);
}

.grid .grid__item:nth-child(12){
    background-color:var(--colorOne);
}

.grid .grid__item:nth-child(13){
    grid-area: span 2 / span 2;
    background-color: var(--colorTwo);
}

.grid .grid__item:nth-child(14){
    background-image: url(http://magazine.hankyung.com/magazinedata/images/photo/201802/b08292acb5a579b31e9697cdf1246c1d.jpg);
}

.grid .grid__item:nth-child(15){
    background-color: var(--colorThree);
}