:root{
    --grayColor:rgba(0,0,0,0.5);
    --borderRadius:25px;
}

* {
    box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6{
    margin:0;
    padding:0;
}

body{
    font-family: system-ui;
    padding:0 15px;
}

.header{
    margin-top:50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__titles .header__title{
    font-size: 30px;
}

.header__titles .header__subtitle{
    font-size: 14px;
    margin-top: 5px;
    color: var(--grayColor);
}

.header__icons svg{
    fill: var(--grayColor);
    width:20px;
}

.header__icon:first-child{
    margin-right:15px;
}

.main{
    margin:50px 0;
    margin-bottom:100px;
}

.recipe{
    height:40vh;
    border-radius: var(--borderRadius);
    background-image: url(https://i.pinimg.com/564x/ae/c7/e2/aec7e2860fa4b5438826abd82830825d.jpg);
    background-size: 100%;
    background-position: center center;
    position:relative;
    display:flex;
    align-items: flex-end;
    justify-content: center;
}

.recipe .recipe__heart{
    position:absolute;
    top:20px;
    right: 20px;
    background-color:rgba(255, 255, 255, 0.8);
    width: 50px;
    height: 50px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.recipe__heart svg{
    width:30px;
    fill: #e74c3c;
}

.recipe .recipe__info { 
    background-color: white;
    border-radius: var(--borderRadius);
    width:90%;
    padding: 10px 25px;
    box-shadow: 0 7px 20px rgba(50, 50, 93, 0.1), 0 3px 20px rgba(0, 0, 0, 0.08);
    position: relative;
    top:50px;
}

.recipe__info .recipe__title {
    font-size: 20px;
    margin-bottom:10px;
}

.recipe__info .recipe__meta {
    padding-bottom:20px;
    border-bottom: 1px solid var(--grayColor);
}

.recipe__meta {
    color: var(--grayColor);
    font-weight:600;
}

.recipe__info .recipe__social {
    padding:10px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-items: center;
}

.recipe__social .recipe__social-item {
    display: flex;
    align-items: center;
}

.recipe__social-item svg {
    margin-left: 10px;
    fill: var(--grayColor);
}

.recommended .recommended__header{
    margin-bottom:20px;
    display:flex;
    justify-content: space-between;
    align-items: flex-end;
}

.recommended__header .recommended__title{
    font-size: 20px;
}

.recommended__header .recommended__small{
    color:var(--grayColor);
}

.recommended__grid{
    display:grid;
    grid-auto-flow: column;
    grid-auto-columns: minmax(120px, 1fr);
    grid-gap: 20px;
    padding-bottom:10px;
    overflow: scroll;
}

.recommended-recipe{
    border-radius: var(--borderRadius);
    height:15vh;
    background-image: url(https://i.pinimg.com/564x/c0/63/f1/c063f17d68bc5181dfa0010bf2a18e78.jpg);
    background-size: 100%;
    background-position: center center;
    display: flex;
    align-items: flex-end;
    overflow: hidden;
}
.recommended-recipe .recommended-recipe__info {
    background-color: white;
    padding:10px;
    width:100%;
}

.recommended-recipe__info .recommended-recipe__title{
    font-size: 10px;
    font-weight: 700;
}

.recommended-recipe__info .recommended-recipe__subtitle {
    font-size: 8px;
    color: var(--greyColor);
}